.Month{
  /*position: relative;*/
}
.center_pos{
  position : absolute;
  left : 50%;
  top : 50%;
  transform : translate(-50%,-50%);
}
#root{
  height: 100vh;
  background: #141414;
  text-align: right;
  color: #4B8B77;
}
.Ndl{
  height: 6px;
  border-top-right-radius: 100%;
  background:white;
  /*top: 313px;*/
}
.secNdl{
  width: 523px;
}
.minNdl{
  width: 453px;
}
.hrNdl{
  width: 353px;
}
.center_pos2{
  position: absolute;
  left: 50%;
  top: 50%;
}
.year {
  z-index: 100;
  font-weight: 900;
  color: #C44133;
  background: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;

}